* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'bohemian_soulregular';
    src: url('bohemian_soul-webfont.woff2') format('woff2'),
    url('bohemian_soul-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'bohemian_soulregular';
    background-image: url(./bg.jpg);
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-img {
   display: flex;
   margin-top: 200px;
   justify-content: center;
   margin-left: -400px;
}

button {
    width: 1000px;
    height: 40px;
}

.blue-box {
    width: 1920px;
    height: 350px;
    margin-top: -340px;
    background-color: #6bbbbd; 
}

footer {
    background-color: #2e4445;
    height: 100px;
}

.maintxt h1 {
    display: flex;
    margin-left: 280px;
    margin-top: -460px;
    width: 620px;           
    padding: 10px;    
    font-size: 60px;    
}